<!DOCTYPE html>
<html>
  <head>
    <title>
      Electioneering
    </title>
    <link rel="stylesheet" href="stylesheets/app.css" type="text/css" />
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" type="text/css" />
    <script src="components/prefixfree/prefixfree.min.js"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <div id="game">
      <div id="loading">Loading...</div>
      <div id="sidebar">
        <h2>Stances</h2>
        <div id="stances">
        </div>
      </div>
      <div id="map">
        <%= svgData %>
      </div>
      <div id="opportunities"></div>
    </div>
  </body>
</html>
