<!DOCTYPE html>
<html>
  <head>
    <title>
      Electioneering
    </title>
    <link rel="stylesheet" href="stylesheets/app.css" type="text/css" />
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="components/prefixfree/prefixfree.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="javascripts/app.js"></script>
  </head>
  <body>
    <div id="game">
      <div id="modal-container">
      </div>
      <div id="loading">Loading...</div>
      <div id="sidebar">
        <h2>Stances</h2>
        <div id="stances">
        </div>
      </div>
      <div id="map">
        <%= svgData %>
      </div>
      <div id="opportunities">
        <h2>Opportunities</h2>
      </div>
      <div id="titlething">
        Electioneering
      </div>
    </div>
  </body>
</html>
