@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic);
@import 'colors';
@import 'alignment';
@import 'opportunity';
@import 'tweet';

/* Main */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#titlething {
    color: $bright;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 18px;
    left: 268px;
    color: $medium_da;
}

#loading {
  display:none;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  line-height: 100px;
  text-align:center;
  border-radius: 5px;
  background-color:rgba(0,0,0,0.2);
  color: $bright;
}

#game {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  flex-direction: row;
  align-items: stretch;
}

.start_container {
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.5);

  .start {
     width:420px;
     box-sizing:border-box;
     background-color:$medium;
     padding:20px;
     border-radius:5px;
     color:$dark;
     text-align:center;
     position:relative;

     h4 {
        font-style: italic;
        font-weight: 200;
     }

     h3 {
       margin-bottom:0;
     }

     input {
       color:$bright;
       background-color:rgba(0,0,0,0.1);
       padding:10px;
       border:0;
       font-size:14px;
       border-radius:5px;
       transition: all ease 0.3s;

       &:hover {
         background-color:rgba(0,0,0,0.2);
       }
       &:focus {
         outline:0;
       }
     }

     button {
       border:0;
       background-color:$medium_darker;
       color:$bright;
       padding:8px 10px;
       border-radius:5px;
       transition: all 0.3s ease;
       cursor:pointer;

       &:hover {
         background-color: $medium_dark;
       }
     }

     a.party {
      display:inline-block;
      width:60px;
      height:100px;
      margin:10px;
      border-radius:5px;
      cursor:pointer;
      transition:all ease 0.3s;
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;

      &:hover {
        transform:scale(1.2);
      }

      &#liberal {
        background-color:#AD3137;
        background-image:url("/images/trudeau.png");
      }
      &#conservative {
        background-color:#226DBD;
        background-image:url("/images/harper.png");
      }
      &#ndp {
        background-color:#F0A33E;
        background-image:url("/images/mulcair.png");
      }
     }

  }
}

.close {
  border:0;
  background-color:$highlight;
  color:$bright;
  padding:8px 10px;
  border-radius:5px;
  position:absolute;
  right: 10px;
  top:10px;
  transition: all 0.3s ease;
  cursor:pointer;

  &:hover {
    background-color: $highlight_lighter;
  }
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0,0,0,0.05);
    transition: all ease 0.3s;
}
*::-webkit-scrollbar:hover {
    background-color: rgba(0,0,0,0.1);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    transition: all ease 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.2);
}




/* Map */

#map {
  flex: 1;
  box-sizing:border-box;
  padding:2% 10%;
  display:flex;
  flex-direction: column;
  position: relative;
  background-color: #79BD8F;

  svg {
    flex: 1;
    transition: all ease 0.2s;

    &:hover {
      rect {
        opacity:0.8;
      }
    }

    rect {
      border-style:solid;
      stroke-width:0;
      transition: all ease 0.2s;

      &:hover, &.selected {
        opacity:1;
        transition: all ease 0.2s;
        stroke-width:10;
      }
    }
  }
}

// [data-party="Conservative"] {
//   fill: rgb(4, 95, 173) !important;
// }
// [data-party="Liberal"] {
//   fill: rgb(200, 0, 0) !important;
// }
// [data-party="NDP"] {
//   fill: rgb(200, 95, 173) !important;
// }


/* Sidebar */

#sidebar {
  box-sizing: border-box;
  width: 250px;
  background-color: $medium_dark;
  overflow-x: auto;

  h2 {
    color: $bright;
    font-weight: bold;
    font-size:25px;
    text-align:center;
    margin:0;
    padding: 15px 0;
    background-color:rgba(0,0,0,0.5);
  }
}

/* Stance */

.stance {
  padding: 20px;
  color: $dark;
  &:nth-child(even) {
    background-color:rgba(0,0,0,0.1);
  }
  h3 {
    font-style: italic;
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 200;
  }
}

.highlight {
    fill: $highlight_poll !important;
    stroke-color: $highlight_poll !important;
}
