#opportunities {
  width:250px;
  background-color: $medium_dark;
  overflow-y:auto;
  overflow-x:hidden;

  h2 {
      color: $bright;
      font-weight: bold;
      font-size:25px;
      text-align:center;
      margin:0;
      padding: 15px 0;
      background-color:rgba(0,0,0,0.5);
    }
}

.opportunity {
  padding:30px 10px 10px 10px;
  overflow:hidden;
  position: relative;
  background-color: rgba(0,0,0,0.05);
  color: $dark;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  transition: background 1s ease;

  &:nth-child(even) {
    background-color:rgba(0,0,0,0.15);
  }

  h3 {
    font-size: 15px;
    font-weight: 200;
  }

  .opportunity_do {
    border:0;
    background-color:$medium_darker;
    color:$bright;
    padding:8px 10px;
    border-radius:5px;
    transition: all 0.3s ease;
    cursor:pointer;

    &:hover {
      background-color: $medium_dark;
    }
  }
}


@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
